<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BannerSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAD04E0D1C2EA43500EF37E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAD04E211C2EA43600EF37E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAD04E2C1C2EA43600EF37E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
